
body{

  background-color:lightgray;
}

.container{
  margin-top:50px; 
}

.chatbox{
  background: white;
  height:500px ; 
  overflow-y:auto ;
}

.item{
  margin:0;
  font-size:medium; 
  color:darkred;
} 




